.container {
    background-color: #FEF5DA;
    color:#301928;
    box-shadow: -10px 10px 0px rgb(117, 24, 52), -20px 20px 0px rgba(250, 87, 94), -30px 30px 0px rgba(254, 174, 174);
    padding: 40px;
    width: 650px;
    margin: 120px auto;
    border: 2px auto;
    border-color: rgb(117, 24, 52);
    border-radius: 30px;
    font-family: "Ubutu", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h1 {
font-family: "Oleo Script", system-ui;
text-align: center;
font-size: 60px;
}

input {
    font-weight: bold;
    color:#301928;
}

.search-bar {
    border: none;
    padding: 5px;
    width: 50%;
    line-height: 30px;
    border-radius: 30px;
}

.search-button {
    background-color: #FF6A71;
    border: none;
    padding: 5px;
    width: 20%;
    line-height: 30px;
    border-radius: 30px;
}

main {
    display: block;
    text-align: center;
    padding: 20px;    
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

a {
    color: #f5b539;
}